<!DOCTYPE html>
<html lang={{ app.request.locale }}>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
		{% block stylesheets %}{% endblock %}
		{{ encore_entry_link_tags('app') }}

		{% block javascripts %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
	</head>
	<body class="container max-w-7xl mx-auto">

		{{ include ("components/header.html.twig") }}

		{% for message in app.flashes('success') %}
			<div class="container mx-auto rounded-md border border-green-600 bg-green-200 p-4 my-4">{{message}}</div>
		{% endfor %}

		{% block body %}{% endblock %}

		{{ include ("components/footer.html.twig") }}

		{{ include ("components/notification.html.twig") }}
	</body>
</html>
