{% extends "base.html.twig" %}

{% block body %}
	<div class="container mx-auto my-12 border-b border-gray-400 pb-4">
		<h1 class="text-5xl font-semibold mb-4">Post TItle</h1>
		<div class="text-gray-600 mb-4">Published: 01.01.23</div>
		<div class="text-gray-600 flex gap-2 items-center mb-4">
			<span>Post created by</span>
			<img src=""/>
			<a href="{{ path('posts.user', {id:1}) }}" class="text-sky-600 hover:underline mr-4">Adam Smith</a>
			<a href="{{ path('toggleFollow', {user:1}) }}" class="rounded-md bg-indigo-400 px-4 py-2 text-white hover:bg-indigo-500">Follow</a>
			<a href="{{ path('toggleFollow', {user:1}) }}" class="rounded-md bg-indigo-400 px-4 py-2 text-white hover:bg-indigo-500">Unfollow</a>
		</div>
	</div>

	<div class="container mx-auto border-b border-gray-400 pb-4">
		<p>Laboris esse tempor sunt fugiat deserunt in irure in irure eiusmod nostrud anim irure consectetur. Veniam excepteur cupidatat culpa qui duis. Anim irure sit esse tempor mollit nulla irure non voluptate tempor reprehenderit ipsum est. Veniam cillum qui ad anim aliquip nulla in Lorem tempor qui dolor est. Deserunt officia dolor esse eiusmod aute tempor ut enim esse ex. Qui proident consequat proident adipisicing elit minim ex occaecat nostrud non dolor.</p>
	</div>

	<div class="container mx-auto flex items-center gap-4 mt-6">
		<a href="#" class="flex gap-2 items-center">
			{{ include('svg/like.html.twig', {w: 20, h:20, fill:'#419712'}) }}
			<span>(13)</span>
		</a>
		<a href="#" class="flex gap-2 items-center">
			{{ include('svg/like.html.twig', {w: 20, h:20, fill:'#d72626', unlike: true}) }}
			<span>(2)</span>
		</a>
	</div>
{% endblock %}
