{% extends "base.html.twig" %}

{% block body %}
	<div class="container mx-auto my-12 border-b border-gray-400 pb-4">
		<h1 class="text-5xl font-semibold mb-4">{{ post.title }}</h1>
		<div class="text-gray-600 mb-4">Published: 01.01.23</div>
		<div class="text-gray-600 flex gap-2 items-center mb-4">
			<span>Post created by</span>
			{% if post.author.userProfile.image is defined %}
				<img width="50" height="50" src="{{ profiles ~ post.author.userProfile.image }}"/>
			{% else %}
				<img src="{{ images ~ 'user.png' }}"/>
			{% endif %}
			<a href="{{ path('posts.user', {id:post.author.id}) }}" class="text-sky-600 hover:underline mr-4">{% if post.author.userProfile.name is defined %}{{post.author.userProfile.name}}{% else %}{{post.author.email}}{% endif %}</a>
			{% if post.author != app.user and (isFollowing is null or isFollowing|length == 0) %}
				<a href="{{ path('toggleFollow', {user:post.author.id}) }}" class="rounded-md bg-indigo-400 px-4 py-2 text-white hover:bg-indigo-500">Follow</a>
			{% endif %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') and post.author != app.user and isFollowing %}
				<a href="{{ path('toggleFollow', {user:post.author.id}) }}" class="rounded-md bg-indigo-400 px-4 py-2 text-white hover:bg-indigo-500">Unfollow</a>
			{% endif %}
		</div>
	</div>

	<div class="container mx-auto border-b border-gray-400 pb-4">
		<p>{{ post.content }}</p>
	</div>

	<div class="container mx-auto flex items-center gap-4 mt-6">
		<a href="#" class="flex gap-2 items-center">
			{{ include('svg/like.html.twig', {w: 20, h:20, fill:'#419712'}) }}
			<span>(13)</span>
		</a>
		<a href="#" class="flex gap-2 items-center">
			{{ include('svg/like.html.twig', {w: 20, h:20, fill:'#d72626', unlike: true}) }}
			<span>(2)</span>
		</a>
	</div>
{% endblock %}
