<header class="flex justify-between items-center p-4 gap-4">
	<div class="flex items-center gap-4">
		{% include "svg/logo.html.twig" %}
		<a class="text-2xl font-medium text-gray-700" href="{{ path('posts.index') }}">Symfony Blog</a>

		{% include "components/search.html.twig" %}
	</div>

	<div id="main-menu" class="absolute top-24 gap-4 items-center hidden md:flex md:relative md:top-0">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<div>
				<span>{% trans %}Logged as{% endtrans %}:</span>
				<a class="hover:text-gray-600" href="{{ path('app_dashboard') }}">
					{% if app.user.userProfile.name is defined and app.user.userProfile.name != ''  %}
						{{ app.user.userProfile.name }}
					{% else %}
						{{ app.user.email }}
					{% endif %}
				</a>
			</div>
			<a class="border border-indigo-200 bg-indigo-200 rounded-full px-4 py-2 hover:bg-indigo-500 hover:text-white hover:border-indigo-500" href="{{ path('posts.new') }}">{% trans %}New Post{% endtrans %}</a>
			<a class="border border-indigo-200 bg-indigo-200 rounded-full px-4 py-2 hover:bg-indigo-500 hover:text-white hover:border-indigo-500" href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
		{% else %}
			<a class="border border-indigo-200 bg-indigo-200 rounded-full px-4 py-2 hover:bg-indigo-500 hover:text-white hover:border-indigo-500" href="{{ path('app_login') }}">{% trans %}Login{% endtrans %}</a>
			<a class="border border-indigo-200 bg-indigo-200 rounded-full px-4 py-2 hover:bg-indigo-500 hover:text-white hover:border-indigo-500" href="{{ path('app_register') }}">{% trans %}Register{% endtrans %}</a>
		{% endif %}
	</div>

	<div id="hamburger" class="flex flex-col gap-3 md:hidden">
		<div class="w-10 h-0.5 bg-gray-500"></div>
		<div class="w-10 h-0.5 bg-gray-500"></div>
	</div>

</header>
