<div class="text-xl font-medium mb-2">Profile Password</div>
<div class="text-gray-600 mb-6">Update your profile password</div>

<div class="container mx-auto mt-4">
	{{ form_start(formUserPassword) }}
	<div class="flex gap-4 flex-col">
		{% set currPass_error = form_errors(formUserPassword.currPassword) ? 'text-red-600' : '' %}
		{{ form_label(formUserPassword.currPassword, 'Current Password', {'label_attr':{'class': (currPass_error)~' block text-sm text-gray-700 font-medium'}}) }}
		{{ form_widget(formUserPassword.currPassword, { 'attr': {'class': 'block w-full shadow-sm border border-gray-300 mt-1 p-2 rounded-sm'} })}}
		<div class="text-red-600">{{ form_errors(formUserPassword.currPassword) }}</div>
	</div>
	<div class="flex gap-4 flex-col">
		{% set fPass_error = form_errors(formUserPassword.plainPassword.first) ? 'text-red-600' : '' %}
		{{ form_label(formUserPassword.plainPassword.first, 'New Password', {'label_attr':{'class': (fPass_error)~' block text-sm text-gray-700 font-medium'}}) }}
		{{ form_widget(formUserPassword.plainPassword.first, { 'attr': {'class': 'block w-full shadow-sm border border-gray-300 mt-1 p-2 rounded-sm'} })}}
		<div class="text-red-600">{{ form_errors(formUserPassword.plainPassword.first) }}</div>
	</div>
	<div class="flex gap-4 flex-col">
		{% set sPass_error = form_errors(formUserPassword.plainPassword.second) ? 'text-red-600' : '' %}
		{{ form_label(formUserPassword.plainPassword.second, 'Repeat Password', {'label_attr':{'class': (sPass_error)~' block text-sm text-gray-700 font-medium'}}) }}
		{{ form_widget(formUserPassword.plainPassword.second, { 'attr': {'class': 'block w-full shadow-sm border border-gray-300 mt-1 p-2 rounded-sm'} })}}
		<div class="text-red-600">{{ form_errors(formUserPassword.plainPassword.second) }}</div>
	</div>

	<button type="submit" class="mt-4 w-full bg-sky-200 p-4 rounded-md hover:bg-sky-300">Save</button>
	{{ form_end(formUserPassword) }}
</div>
