<div class="text-xl font-medium mb-2">Profile Delete</div>
<div class="text-gray-600 mb-6">Here you can delete your profile.</div>

<div class="text-xl">Are you sure to delete your account?</div>
<p class="text-gray-600 mb-6">All your data will be permanently delete. Please enter your password for confirm to delete your account.</p>

<div class="container mx-auto mt-4">
	{{ form_start(formUserDelete) }}
	<div class="flex gap-4 flex-col">
		{% set currPass_error = form_errors(formUserDelete.currPassword) ? 'text-red-600' : '' %}
		{{ form_label(formUserDelete.currPassword, 'Confirm Password', {'label_attr':{'class': (currPass_error)~' block text-sm text-gray-700 font-medium'}}) }}
		{{ form_widget(formUserDelete.currPassword, { 'attr': {'class': 'block w-full shadow-sm border border-gray-300 mt-1 p-2 rounded-sm'} })}}
		<div class="text-red-600">{{ form_errors(formUserDelete.currPassword) }}</div>
	</div>

	<button type="submit" class="mt-4 w-full bg-red-500 p-4 rounded-md hover:bg-red-600">Delete Account</button>
	{{ form_end(formUserDelete) }}
</div>