<div class="text-xl font-medium mb-2">Profile Image</div>
<div class="text-gray-600 mb-6">Update your profile image</div>

{% if app.user.userProfile.image is defined and app.user.userProfile.image is not null %}
	<img width="250" height="250" src="{{ profiles ~ app.user.userProfile.image }}"/>
{% else %}
	<img width="250" height="250" src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"/>
{% endif %}

<div class="container mx-auto mt-4">
	{{ form_start(formUserImage) }}
	<div class="flex gap-4 items-center">
		{% set image_error = form_errors(formUserImage.profileImage) ? 'text-red-600' : '' %}
		{{ form_label(formUserImage.profileImage, 'Image', {'label_attr':{'class': (image_error)~' block text-sm text-gray-700 font-medium'}}) }}
		{{ form_widget(formUserImage.profileImage, { 'attr': {'class': 'block w-full shadow-sm border border-gray-300 mt-1 p-2 rounded-sm'} })}}
		<div class="text-red-600">{{ form_errors(formUserImage.profileImage) }}</div>
	</div>

	<button type="submit" class="mt-4 w-full bg-sky-200 p-4 rounded-md hover:bg-sky-300">Save</button>
	{{ form_end(formUserImage) }}
</div>
